@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.hero {
    background: url(../Assets/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position: center;
}

/* .hero-content {
    background-color: aqua;
} */